@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>CodeFirst University</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Welcome to CodeFirst University</h2>
    <p>
      CodeFirst University is the first CodeFirst insitution of higher learning in the world.
    </p>
  </div>
  
</div>