@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>We insure autos. All manner of autos. There's nary an auto that we won't insure. Come on in, into the woods.</p>

<img src="~/Content/Images/jumbocar.gif" />
