@{
    ViewBag.Title = "Home Page";
}

  <div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(https://scx2.b-cdn.net/gfx/news/2018/europeslostf.jpg)">
    <div class="container">
      <h1 class="display-4">Into the Woods Auto Insurance</h1>
      <p class="lead">We invite you to journey with us into the woods to explore the awe-inspiring grandeur of auto insurance coverage that exists when you get off the beaten path.</p>
      <hr class="my-4">
      <p>Fill your lungs with the fresh, pine-scented air while you answer a few simple questions as we calculate your quote.</p>
      <a class="btn btn-primary btn-lg" href="/Insuree/Quote" role="button">Get Your Quote Now</a>
    </div>

    <!-- /.container   -->
  </div>

